<a href="https://colab.research.google.com/github/Risuki1999/riski_maulana/blob/main/riski_maulana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
dataset=pd.read_csv("/content/drive/My Drive/machine learning/pangan_19_20 (1).csv")
dataset

          Date  Beras  ...  Gula Pasir Kualitas Premium (kg)  Gula Pasir Lokal (kg)
0   02/09/2019  11700  ...                             14900                  12900
1   03/09/2019  11700  ...                             14900                  12900
2   04/09/2019  11700  ...                             14900                  12900
3   05/09/2019  11700  ...                             14900                  12850
4   06/09/2019  11700  ...                             14900                  12850
..         ...    ...  ...                               ...                    ...
92  13/01/2020  11800  ...                             14950                  13750
93  14/01/2020  11850  ...                             15000                  13800
94  15/01/2020  11850  ...                             14950                  13850
95  16/01/2020  11850  ...                             15000                  13900
96  17/01/2020  11850  ...                             15000                  13900

[97 rows x 32 columns]

In [3]:
dataset.head()

         Date  Beras  ...  Gula Pasir Kualitas Premium (kg)  Gula Pasir Lokal (kg)
0  02/09/2019  11700  ...                             14900                  12900
1  03/09/2019  11700  ...                             14900                  12900
2  04/09/2019  11700  ...                             14900                  12900
3  05/09/2019  11700  ...                             14900                  12850
4  06/09/2019  11700  ...                             14900                  12850

[5 rows x 32 columns]

In [5]:
dataset.shape

(97, 32)

In [6]:
dataset.isnull().sum()

Date                                    0
Beras                                   0
Beras Kualitas Bawah I (kg)             0
Beras Kualitas Bawah II (kg)            0
Beras Kualitas Medium I (kg)            0
Beras Kualitas Medium II (kg)           0
Beras Kualitas Super I (kg)             0
Beras Kualitas Super II (kg)            0
Daging Ayam                             0
Daging Ayam Ras Segar (kg)              0
Daging Sapi                             0
Daging Sapi Kualitas 1 (kg)             0
Daging Sapi Kualitas 2 (kg)             0
Telur Ayam                              0
Telur Ayam Ras Segar (kg)               0
Bawang Merah                            0
Bawang Merah Ukuran Sedang (kg)         0
Bawang Putih                            0
Bawang Putih Ukuran Sedang (kg)         0
Cabai Merah                             0
Cabai Merah Besar (kg)                  0
Cabai Merah Keriting  (kg)              0
Cabai Rawit                             0
Cabai Rawit Hijau (kg)                  0
Cabai Rawit Merah (kg)                  0
Minyak Goreng                           0
Minyak Goreng Curah (kg)                0
Minyak Goreng Kemasan Bermerk 1 (kg)    0
Minyak Goreng Kemasan Bermerk 2 (kg)    0
Gula Pasir                              0
Gula Pasir Kualitas Premium (kg)        0
Gula Pasir Lokal (kg)                   0
dtype: int64

In [7]:
dataset.max()

Date                                    31/12/2019
Beras                                        11850
Beras Kualitas Bawah I (kg)                  10900
Beras Kualitas Bawah II (kg)                 10450
Beras Kualitas Medium I (kg)                 11900
Beras Kualitas Medium II (kg)                11750
Beras Kualitas Super I (kg)                  13200
Beras Kualitas Super II (kg)                 12700
Daging Ayam                                  35200
Daging Ayam Ras Segar (kg)                   35200
Daging Sapi                                 118950
Daging Sapi Kualitas 1 (kg)                 122550
Daging Sapi Kualitas 2 (kg)                 113650
Telur Ayam                                   26350
Telur Ayam Ras Segar (kg)                    26350
Bawang Merah                                 37600
Bawang Merah Ukuran Sedang (kg)              37600
Bawang Putih                                 35350
Bawang Putih Ukuran Sedang (kg)              35350
Cabai Merah                                  53100
Cabai Merah Besar (kg)                       50400
Cabai Merah Keriting  (kg)                   56250
Cabai Rawit                                  61300
Cabai Rawit Hijau (kg)                       51350
Cabai Rawit Merah (kg)                       71400
Minyak Goreng                                13850
Minyak Goreng Curah (kg)                     13000
Minyak Goreng Kemasan Bermerk 1 (kg)         14700
Minyak Goreng Kemasan Bermerk 2 (kg)         13900
Gula Pasir                                   14350
Gula Pasir Kualitas Premium (kg)             15000
Gula Pasir Lokal (kg)                        13900
dtype: object

In [8]:
dataset.min()

Date                                    01/10/2019
Beras                                        11700
Beras Kualitas Bawah I (kg)                  10650
Beras Kualitas Bawah II (kg)                 10250
Beras Kualitas Medium I (kg)                 11700
Beras Kualitas Medium II (kg)                11500
Beras Kualitas Super I (kg)                  13000
Beras Kualitas Super II (kg)                 12550
Daging Ayam                                  30050
Daging Ayam Ras Segar (kg)                   30050
Daging Sapi                                 117200
Daging Sapi Kualitas 1 (kg)                 120650
Daging Sapi Kualitas 2 (kg)                 111900
Telur Ayam                                   22900
Telur Ayam Ras Segar (kg)                    22900
Bawang Merah                                 22500
Bawang Merah Ukuran Sedang (kg)              22500
Bawang Putih                                 31000
Bawang Putih Ukuran Sedang (kg)              31000
Cabai Merah                                  31100
Cabai Merah Besar (kg)                       32000
Cabai Merah Keriting  (kg)                   30900
Cabai Rawit                                  36850
Cabai Rawit Hijau (kg)                       32600
Cabai Rawit Merah (kg)                       41450
Minyak Goreng                                13100
Minyak Goreng Curah (kg)                     11150
Minyak Goreng Kemasan Bermerk 1 (kg)         14300
Minyak Goreng Kemasan Bermerk 2 (kg)         13500
Gula Pasir                                   13700
Gula Pasir Kualitas Premium (kg)             14750
Gula Pasir Lokal (kg)                        12850
dtype: object

In [9]:
dataset.describe()

              Beras  ...  Gula Pasir Lokal (kg)
count     97.000000  ...              97.000000
mean   11750.515464  ...           13060.309278
std       37.842082  ...             231.045872
min    11700.000000  ...           12850.000000
25%    11750.000000  ...           12900.000000
50%    11750.000000  ...           13050.000000
75%    11750.000000  ...           13100.000000
max    11850.000000  ...           13900.000000

[8 rows x 31 columns]

In [17]:
data=dataset.dropna()

In [18]:
data.shape

(97, 32)

In [21]:
dataset.dropna(axis=0, subset=['Daging Ayam','Beras'], inplace=True)

In [22]:
p=data['Bawang Merah']
p

0     24850
1     24800
2     24550
3     24300
4     24250
      ...
92    37250
93    37350
94    37300
95    37300
96    37400
Name: Bawang Merah, Length: 97, dtype: int64

In [28]:
Fitur=['Date','Beras']
X=data[Fitur]
X

          Date  Beras
0   02/09/2019  11700
1   03/09/2019  11700
2   04/09/2019  11700
3   05/09/2019  11700
4   06/09/2019  11700
..         ...    ...
92  13/01/2020  11800
93  14/01/2020  11850
94  15/01/2020  11850
95  16/01/2020  11850
96  17/01/2020  11850

[97 rows x 2 columns]